<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21228342878-j2dpjahipamcgbd466cttng55gdvdk9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21228342878-j2dpjahipamcgbd466cttng55gdvdk9o</string>
	<key>API_KEY</key>
	<string>AIzaSyBhXX2ZQF5sum5EDP4bmQWWbFfQfv7EsO4</string>
	<key>GCM_SENDER_ID</key>
	<string>21228342878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.olxfirebase.olxfirebaseapp</string>
	<key>PROJECT_ID</key>
	<string>olxfirebase-b461e</string>
	<key>STORAGE_BUCKET</key>
	<string>olxfirebase-b461e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21228342878:ios:e616c11dc7b97fca5a6ecf</string>
</dict>
</plist>